$primaryColor: #313653;
$borderColor:#4468EC;
$textBodyColor:#9D9D9D;
$backgroundColor:#FCFCFC;
$headerHeight:82px;
$grayColor:#C9C9C9;
$cardColor:#E9EAEB;
$formColor:#ced4da;
$borderDash:#D4D4D4;
$sidebar-base-width: 5.7rem!default;
$transition-collapse: height .15s ease !default;








//mobile&tablet
$maxMobile:576px;
//small screen
$minSmall:768px;
//medium screen
$maxMedium:1024px;
//large screen
$minLarge:1640px